{% extends "base.html" %}

{% block title %} Priority Order {% endblock %}

{% block content %}
<div class="form-group">
	<form action="/add" method="post">
		<div class = "table-responsive">
	<table class="table table-striped">
			<tr>
				<th>Priority 1</th>
				<th>Priority 2</th>
				<th>Priority 3</th>
				<th>Priority 4</th>
			</tr>
			<tr>
				<td>Distance </td>
				<td>
					<select name="distancep2" class="form-control">
						<option value="rate"> Rate </option>
						<option value="project_size"> Project Size </option>
						<option value="completion_date"> Completion Date </option>
					</select>
				</td>
				<td>
				<select name="distancep3" class="form-control">
					<option value="rate"> Rate </option>
					<option value="project_size"> Project Size </option>
					<option value="completion_date"> Completion Date </option>
				</select>
			</td>
				<td>
				<select name="distancep4" class="form-control">
					<option value="rate"> Rate </option>
					<option value="project_size"> Project Size </option>
					<option value="completion_date"> Completion Date </option>
				</select>
			</td>
			</tr>
			<tr>
			<td>Completion Date </td>
			<td>
			<select name="completion_datep2" class="form-control">
				<option value="rate"> Rate </option>
				<option value="project_size"> Project Size </option>
				<option value="distance"> Distance </option>
			</select>
		</td>
			<td>
			<select name="completion_datep3" class="form-control">
				<option value="rate"> Rate </option>
				<option value="project_size"> Project Size </option>
				<option value="distance"> Distance </option>
			</select>
		</td>
			<td>
			<select name="completion_datep4" class="form-control">
				<option value="rate"> Rate </option>
				<option value="project_size"> Project Size </option>
				<option value="distance"> Distance </option>
			</select>
		</td>
			</tr>
			<tr>
			<td>Rate</td>
			<td>
			<select name="ratep2" class="form-control">
				<option value="distance"> Distance </option>
				<option value="project_size"> Project Size </option>
				<option value="completion_date"> Completion Date </option>
			</select>
		</td>
			<td>
			<select name="ratep3" class="form-control">
				<option value="distance"> Distance </option>
				<option value="project_size"> Project Size </option>
				<option value="completion_date"> Completion Date </option>
			</select>
		</td>
			<td>
			<select name="ratep4" class="form-control">
				<option value="distance"> Distance </option>
				<option value="project_size"> Project Size </option>
				<option value="completion_date"> Completion Date </option>
			</select>
		</td>
			</tr>
			<tr>
			<td>Project Size </td>
			<td>
			<select name="project_sizep2" class="form-control">
				<option value="rate"> Rate </option>
				<option value="distance"> Distance </option>
				<option value="completion_date"> Completion Date </option>
			</select>
		</td>
			<td>
			<select name="project_sizep3" class="form-control">
				<option value="rate"> Rate </option>
				<option value="distance"> Distance </option>
				<option value="completion_date"> Completion Date </option>
			</select>
		</td>
			<td>
			<select name="project_sizep4" class="form-control">
				<option value="rate"> Rate </option>
				<option value="distance"> Distance </option>
				<option value="completion_date"> Completion Date </option>
			</select>
		</td>
			</tr>
		</table>
		</div>

		<input type="submit" class="btn btn-primary btn-md">
	</form>
</div>
	{% endblock %}