<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</head>
<body>
	{% with messages = get_flashed_messages() %}
   		{% if messages %}
      		{% for message in messages %}
         		<h3> {{ message }} </h3>
      		{% endfor %}
   		{% endif %}
	{% endwith %}
	<div id="content" class="container">{% block content %}{% endblock %}</div>
	<!-- <div class="panel panel-default"> -->
		<!-- <div class="footer navbar-fixed-bottom"> -->
	<footer class="footer navbar-fixed-bottom">
		<p> Done as an internship assignment for getmeroof.com </p>
		<p>Contact: Mayank Thakur</p>
	</footer>
<!-- </div> -->
<!-- </div> -->
</body>
</html>